{% extends 'base.html' %}

{% block title %}Contact Me - UnitechAGI{% endblock %}

{% block content %}
<div class="contact-content">
        <h1>Contact Me</h1>
        <p class="lead">Get in touch with me for collaborations, questions, or just to say hello!</p>
            <form id="contactForm">
                <div class="form-group">
                    <input type="text" id="name" name="name" required placeholder="Name">
                </div>

                <div class="form-group">
                    <input type="email" id="email" name="email" required placeholder="Email">
                </div>

                <div class="form-group">
                    <textarea id="message" name="message" required placeholder="Message"></textarea>
                </div>

                <div class="button-group">
                    <button type="submit" class="btn-submit">Send Message</button>
                </div>
            </form>
        </div>
</div>
{% endblock %}